[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
psycopg2-binary = "*"
httpx = "*"

[dev-packages]
black = "*"
pylama = "*"
flasgger = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
